body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url("jeden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
}
.container {
    text-align: center;
    background-color: #03b4ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #fff;
   

}
#desiredTemperature{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 1.75rem;
    background-color: #282828;
    color: #f9f9f9;
}

.controls {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.status {
    margin: 20px 0;
}

.status p {
    font-size: 18px;
}